body {
  margin: 0;
}

header,
footer {
  padding: 20px;
  color: #fff;
  background: #000;
}

aside {
  padding: 20px;
  color: skyblue;
  background-color: rgb(0, 124, 118);
}

main {
  padding: 20px;
  color: #fff;
  background: skyblue;
}
