.grid {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "aside main main main"
    "footer footer footer footer";
  min-height: 100vh;
}

header,
aside,
main,
footer {
  display: grid;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  text-transform: uppercase;
}

header {
  grid-area: header;
  color: #fff;
  background-color: #000;
}

aside {
  grid-area: aside;
  background-color: skyblue;
}

main {
  grid-area: main;
  text-align: center;
  color: green;
  background-color: #fff;
}

footer {
  grid-area: footer;
  color: #fff;
  background-color: #000;
}

.btn {
  margin: 5px;
  padding: 5px 10px;
  background-color: skyblue;
  color: #000;

  &D {
    background-color: grey;
  }
}

.socket {
  display: grid;
  grid-template-rows: 1fr 1fr;

  &__chat {
    color: #fff;
    background-color: #000;
  }
}
